type vendor_sensors, domain;
type vendor_sensors_exec, exec_type, vendor_file_type, file_type;

init_daemon_domain(vendor_sensors)
get_prop(vendor_sensors, vendor_sensors_prop)

allow vendor_sensors self:capability {
    setuid
    setgid
    net_bind_service
};

userdebug_or_eng(`
  get_prop(vendor_sensors, vendor_sensors_dbg_prop)

  allow vendor_sensors vendor_shell_exec:file rx_file_perms;
')

allow vendor_sensors self:{ socket qipcrtr_socket } create_socket_perms;
allow vendor_sensors mnt_vendor_file:dir r_dir_perms;
allow vendor_sensors system_file:dir r_dir_perms;
allow vendor_sensors sensors_device:chr_file rw_file_perms;
allow vendor_sensors ion_device:chr_file r_file_perms;
allow vendor_sensors sysfs_graphics : lnk_file read;

wakelock_use(vendor_sensors)
